.filtros_y_buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.filtros_transportes {
    display: flex;
    gap: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: var(--color-texto-principal);
    transition: color var(--transition-speed) ease;
}

.filtros_transportes label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buscador_destinos input {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--color-borde);
    width: 250px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: border-color 0.3s ease,
                background-color var(--transition-speed) ease,
                color var(--transition-speed) ease;
    background-color: var(--color-fondo-blanco);
    color: var(--color-texto-principal);
}

.buscador_destinos input:focus {
    border-color: var(--color-morado-principal);
}

.filtro_continentes select {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-fondo-destinos-select);
    background-color: var(--color-fondo-destinos-select);
    color: var(--color-texto-principal);
    outline: none;
    cursor: pointer;
    transition: all var(--transition-speed) ease;
}

.filtro_continentes select:hover {
    background-color: var(--color-morado-hover);
}

.galeria-destinos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 30px;
}

.tarjeta-destino {
    background: var(--color-fondo-destinos);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease,
                background-color var(--transition-speed) ease;
}

.tarjeta-destino:hover {
    transform: scale(1.03);
}

.imagen-destino {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.nombre-destino {
    margin-top: 10px;
    font-size: 1.3rem;
    color: var(--color-texto-principal);
    transition: color var(--transition-speed) ease;
}

.precio-destino {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-texto-principal);
    transition: color var(--transition-speed) ease;
}

/* Ajuste Responsive: Si la pantalla es pequeña, pon los filtros en columna */
@media (max-width: 900px) {
    .filtros_y_buscador {
        flex-direction: column;
        gap: 15px;
    }
}