
html {
    display: flex;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0.5%;

    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button, select {
    color: inherit;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 10px 0px 10px 45px;
    padding: 0;
}

img {
    margin: 0;
}

h1 {
    font-size: 150%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

h2 {
    font-size: 120%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

h3 {
    font-size: 108%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

h4 {
    font-size: 96%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

h5 {
    font-size: 78%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

h6 {
    font-size: 72%;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}
